body {
    background-color: hsl(0, 0%, 100%);
    color: hsl((0, 0%, 0%));
}

.dark-mode {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

button {
    height: 4em;
    width: 8em;
}

.textBox {
    min-width: 200px;
    min-height: 20px;
    max-height: 75px;
    max-width: 450px;
    border: solid;
    color: rgb(3, 2, 0);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #51c279;
    color: #000100;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #12713d;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }